* {
  /* padding: 0; */
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: 2px solid var(--focused);
  outline-offset: 2px;
  border-radius: 5px;
  padding: 3px;
}

body {
  background-color: var(--background);
  font-family: "inter", sans-serif;
}

.container {
  position: relative;
}

:root {
  --grey50: #656266;
  --grey100: #616161;
  --grey200: #322f33;
  --grey300: #1c181d;
  --light: #e3e3e3;
  --mid: #616161;
  --dark: #475467;
  --S50: #ebebeb;
  --S100: #e1e1e1;
  --S200: #616161;
  --hover: #f7f7f7;
  --pressed: #f0f0f0;
  --focused: #005bd3;
  --white: #ffffff;
  --background: #f1f1f1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  padding: 15px 15px;
  background-color: var(--grey300);
  color: var(--grey300);
}

#mobile-icon {
  display: block;
}

#desktop-icon {
  display: none;
}

::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--mid);
}

.search {
  position: relative;
}

#search {
  padding: 8px 8px 8px 32px;
  background-color: var(--grey200);
  border: 1px solid var(--grey100);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--light);
}

#search:hover {
  border: 1px solid var(--light);
}

#search:focus {
  outline: none;
  border: 2px solid var(--light);
}

.search > svg {
  position: absolute;
  top: 30%;
  left: 5%;
}

.bell-dc {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#dc {
  display: none;
}

.dc {
  padding: 7px 10px;
  background-color: #36fba1;
  border-radius: 6px;
  color: var(--grey50);
}

#info {
  margin-bottom: 23px;
  padding: 12px 8px 20px 16px;
  background-color: var(--grey300);
  font-size: 13px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.p > p {
  margin-bottom: 23px;
}

.p > a {
  padding: 6px 12px;
  background-color: white;
  border-radius: 6px;
  font-weight: 600;
  color: var(--grey300);
  text-decoration: none;
}

#remove-info {
  cursor: pointer;
}

.accordion {
  padding: 10px;
  background-color: var(--white);
  border-style: solid none;
  border-color: var(--light);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.icons {
  position: relative;
  right: -23px;
}

#arrow-up,
#arrow-down {
  cursor: pointer;
}

#arrow-up,
#arrow-down:hover {
  background-color: var(--background);
  border-radius: 5px;
}

#arrow-down {
  visibility: hidden;
  position: relative;
}

#arrow-up {
  position: relative;
  right: 54%;
}

.accordion > p {
  font-size: 13px;
}

.p-1 {
  margin-bottom: 10px;
}

#p-2 {
  font-size: 13px;
}

#progress {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

#progress_bar {
  width: 20.283%;
  height: 4px;
  background-color: var(--light);
  border-radius: 28px;
}

#bar {
  background-color: var(--grey300);
  /* width: 20%; */
  width: 0%;
  height: 4px;
  border-radius: 28px;
}

.options {
  font-size: 13px;
  background-color: var(--background);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: none;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox:hover circle {
  stroke-dasharray: 0 0;
}

.hoverIcon {
  display: none;
}

.checking {
  display: none;
}

.checked {
  display: none;
}

.des {
  margin: 0px 0px 16px 40px;
  display: none;
  line-height: 1.5rem;
}

.des > p {
  margin-bottom: 16px;
}

.thick-head {
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: var(--focused);
  font-weight: 500;
}

.des > button {
  padding: 6px 12px;
  margin-right: 16px;
  border: 2px solid var(--S200);
  border-radius: 6px;
  background-color: var(--grey200);
  color: var(--light);
  transform: translateY(0.1em);
  transition: transform 0.1s ease;
  cursor: pointer;
}

.des > button:active {
  transform: translateY(0.1em);
  border: 1px solid transparent;
}

#product {
  text-decoration: none;
  font-weight: 600;
  color: var(--grey300);
}

#product:hover {
  background-color: var(--light);
  padding: 3px 5px;
  border-radius: 5px;
}

.img {
  display: none;
}

#menu {
  background-color: var(--white);
  width: 80%;
  border-radius: 14px;
  border: 1px solid var(--light);
  position: absolute;
  top: 23%;
  right: 2%;
  font-size: 13px;
  display: none;
  z-index: 99;
}

#menu > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

#menu > a {
  color: var(--grey300);
  padding: 6px 12px;
}

.store > a {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  align-items: center;
  border-radius: 8px;
  padding: 4px 12px 4px 8px;
  margin: 6px;
  text-decoration: none;
  color: var(--grey300);
}
.store > a:active {
  border: 1px solid var(--focused);
}

.dc-2 {
  padding: 5px 5px;
  background-color: #36fba1;
  border-radius: 6px;
  color: var(--grey50);
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name > p:nth-child(2) {
  font-weight: 600;
}

.stores > a {
  text-decoration: none;
  color: var(--grey300);
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 6px;
  padding: 3px;
}

.stores > a:hover {
  background-color: var(--background);
  border-radius: 6px;
  margin: 0px 6px 6px 6px;
}

.menu-items {
  padding: 0px 6px;
  border-style: solid none;
  border-color: var(--light);
}

.menu-items > a {
  text-decoration: none;
  color: var(--grey300);
  display: flex ;
}

.menu-items > a {
  margin: 4px 0px;
  padding: 4px 6px;
}
.menu-items > a:hover {
  background-color: var(--background);
  border-radius: 6px;
}
.menu-items > a:active {
  border: 1px solid var(--focused);
}

.store-contact {
  padding: 6px;
  line-height: 0.3rem;
}

.store-contact {
  text-decoration: none;
  color: var(--grey300);
}

.store-contact > p {
  padding: 6px;
}

.store-contact > p:nth-child(1) {
  font-weight: 600;
}

.store-contact > p:nth-child(2) {
  color: var(--grey100);
}

#notification {
  background-color: var(--white);
  width: 96%;
  border-radius: 14px;
  border: 1px solid var(--light);
  position: absolute;
  top: 23%;
  right: 2%;
  font-size: 13px;
  padding: 16px;
  display: none;
}

.noti-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.noti-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.noti-icons > svg {
  border: 1px solid transparent;
}

.noti-icons > svg:active {
  outline: none;
  border: 1px solid var(--focused);
}

.alerts {
  background-color: var(--background);
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 360px) {
  #search {
    padding: 8px 8px 8px 8px;
  }

  .search > svg {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #desktop-icon {
    display: block;
  }

  #mobile-icon {
    display: none;
  }

  #search {
    padding: 8px 250px 8px 35px;
  }

  .search > svg {
    left: 3%;
  }

  .dc {
    display: none;
  }

  #dc > .dc {
    display: block;
  }

  #dc {
    display: block;
    color: var(--white);
    background-color: #303030;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 3px 3px 3px 8px;
    font-size: 13px;
  }

  #dc:hover,
  #bell:hover {
    background-color: var(--mid);
  }

  #bell {
    background-color: #303030;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    right: 0;
    width: 40;
    height: 40;
  }

  #info {
    margin: 0px auto 23px;
    padding: 12px 8px;
    width: 69%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
  }

  .p {
    display: flex;
    align-items: center;
    gap: 405px;
  }

  .p > p {
    margin: 0px;
    font-size: 13px;
  }
  .p > a {
    padding: 3px 9px;
    margin-left: 80px;
    border: 1px solid var(--light);
  }

  .accordion {
    width: 69%;
    border: 1px solid var(--light);
    border-radius: 8px;
    margin: auto;
  }

  .sub-sub {
    width: 55%;
  }

  .img {
    display: none;
  }

  #menu {
    width: 22.8%;
    right: 1.3%;
  }

  #menu > a > p {
    color: var(--grey300);
    margin: 6px 3px;
  }

  #menu > a > p:hover {
    background-color: var(--background);
    border-radius: 6px;
  }
  #menu > a > p:focus {
    border: 1px solid var(--focused);
  }

  #notification {
    width: 27.2%;
    right: 1.3%;
  }

  .alerts > p {
    color: var(--mid);
  }
}

@media only screen and (max-width: 1280px) {
  .p > a {
    margin-left: 0px;
  }
}
